@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 1rem;
    top: 2rem;
}
  
.bm-burger-bars {
    background: #e7e5e4;
}

.bm-menu {
    background: #9EB1BD; 
    color: #181a1b;
}

.bm-item-list {
    padding-top: 0.5rem;
}

.bm-item {
    margin: 0.5rem auto;
    font-size: 1.25rem;
    width: fit-content;
}

.bm-overlay {
    left: 0;
    top: 5rem;
}

.bm-cross {
    background: #181a1b;
}